---
name: RenovateBot

on:
  workflow_dispatch:
    inputs:
      debug:
        description: Increase RenovateBot log level to debug.
        required: false
        default: false
        type: boolean
      ignoreSchedule:
        description: Ignore the configured schedule (create PRs immediately).
        required: false
        default: false
        type: boolean
      repoFilter:
        description: >
          Filter the repositories Renovate runs against.
          Can be regex or minimatch glob-style.
          See https://docs.renovatebot.com/self-hosted-configuration/#autodiscoverfilter
        required: false
        default: 'salt-extensions/*'
        type: string
  schedule:
    - cron: '23 * * * *'

env:
  # renovate: datasource=docker depName=renovate packageName=ghcr.io/renovatebot/renovate
  RENOVATE_VERSION: 41.173.1

jobs:
  renovate:
    runs-on: ubuntu-24.04

    steps:
      - name: Get token
        id: app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42  # v2.1.4
        with:
          app-id: ${{ secrets.GHA_RENOVATE_APP_ID }}
          private-key: ${{ secrets.GHA_RENOVATE_PK }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          configurationFile: .github/renovate-global.json
          docker-cmd-file: .github/renovate-entrypoint.sh
          docker-user: root
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_COM_TOKEN|NODE_OPTIONS|(?:HTTPS?|NO)_PROXY|(?:https?|no)_proxy|IGNORE_SCHEDULE)$"
          renovate-version: ${{ env.RENOVATE_VERSION }}
          token: ${{ steps.app-token.outputs.token }}
        env:
          LOG_LEVEL: ${{ (github.event_name == 'workflow_dispatch' && inputs.debug) && 'debug' || 'info' }}
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.event_name == 'workflow_dispatch' && inputs.repoFilter || 'salt-extensions/*' }}
          IGNORE_SCHEDULE: ${{ inputs.ignoreSchedule && '1' || '' }}
