---
name: RenovateBot

on:
  workflow_dispatch:
    inputs:
      debug:
        description: Increase RenovateBot log level to debug.
        required: false
        default: false
        type: boolean
      ignoreSchedule:
        description: Ignore the configured schedule (create PRs immediately).
        required: false
        default: false
        type: boolean
      repoFilter:
        description: >
          Filter the repositories Renovate runs against.
          Can be regex or minimatch glob-style.
          See https://docs.renovatebot.com/self-hosted-configuration/#autodiscoverfilter
        required: false
        default: 'salt-extensions/*'
        type: string
  schedule:
    - cron: '23 * * * *'

env:
  # renovate: datasource=docker depName=renovate packageName=ghcr.io/renovatebot/renovate
  RENOVATE_VERSION: 40.62.1

jobs:
  renovate:
    runs-on: ubuntu-24.04

    steps:
      - name: Get token
        id: app-token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e  # v2.0.6
        with:
          app-id: ${{ secrets.GHA_RENOVATE_APP_ID }}
          private-key: ${{ secrets.GHA_RENOVATE_PK }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@87c405b9750f1b6affae06311395b50e3882d54f # v42.0.6
        with:
          configurationFile: .github/renovate-global.json
          docker-cmd-file: .github/renovate-entrypoint.sh
          docker-user: root
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_COM_TOKEN|NODE_OPTIONS|(?:HTTPS?|NO)_PROXY|(?:https?|no)_proxy|IGNORE_SCHEDULE)$"
          renovate-version: ${{ env.RENOVATE_VERSION }}
          token: ${{ steps.app-token.outputs.token }}
        env:
          LOG_LEVEL: ${{ (github.event_name == 'workflow_dispatch' && inputs.debug) && 'debug' || 'info' }}
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.event_name == 'workflow_dispatch' && inputs.repoFilter || 'salt-extensions/*' }}
          IGNORE_SCHEDULE: ${{ inputs.ignoreSchedule && '1' || '' }}
